<header class="m-10 text-3xl text-center">
    Summary
</header>

<header class="m-10 text-xl text-center">
    Weighted Sum Method
</header>

<div class="flex flex-col justify-evenly mx-4">
    <table>
      <thead>
        <tr>
          <th>Alternative</th>
          <th>Weighted Sum</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alternative of normalizedAlternatives | keyvalue">
          <td>{{ alternative.key }}</td>
          <!-- <td>{{ alternative.value['WeightedSum'] }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>

<mcea-nav-button text="Back" route="/normalization" />