<div class="flex flex-col gap-4 justify-center items-center h-full">
    <h1 class="text-xl text-center my-4">
        {{ 'welcome.welcome' | translate }}
    </h1>

    <p class="text-left">
        {{ 'welcome.description' | translate }}
    </p>
    <p class="text-left">
        {{ 'welcome.aim' | translate }}
    </p>
    <p class="text-center">
        {{ 'welcome.clickTheButton' | translate }}
    </p>
    
    <mcea-nav-button
        route="/criteria"
        [text]="'welcome.start' | translate"
    />
    <button
        class="bg-accent text-dark px-4 h-10 rounded-md
                hover:bg-opacity-80 hover:scale-110
                active:bg-opacity-50
                transition-all"
        routerLink="/criteria"
        (click)="loadDemoData()"
    >
        {{ 'welcome.demo' | translate }}
    </button>
</div>