<table mat-table [dataSource]="alternatives" class="mat-elevation-z8">
    <!-- Title Column -->
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>
            {{ 'alternativesGrid.title' | translate }}
        </th>
        <td mat-cell *matCellDef="let alternative">{{ alternative.title }}</td>
    </ng-container>

    <!-- Other Columns -->
    <ng-container *ngFor="let key of displayedColumns">
        <ng-container matColumnDef="{{ key }}">
            <th mat-header-cell *matHeaderCellDef>
                <div class="flex flex-row gap-2 pt-3">
                    <p>{{ key }}</p>
                    <mat-icon
                        *ngIf="hasDescription(key)"
                        [matTooltip]="getTooltip(key)"
                    >
                        info
                    </mat-icon>
                </div>
            </th>
            <td mat-cell *matCellDef="let alternative">
                {{ alternative.rawValues[key] | number : '1.0-3' }}
            </td>
        </ng-container>
    </ng-container>

    <!-- Action Header Row -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell class="h-full" *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let alternative">
            <button mat-icon-button (click)="removeAlternative(alternative.id)">
                <mat-icon>remove_circle</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr
        mat-header-row
        *matHeaderRowDef="['title'].concat(displayedColumns).concat('actions')"
    ></tr>
    <tr
        mat-row
        *matRowDef="
            let row;
            columns: ['title'].concat(displayedColumns).concat('actions')
        "
    ></tr>
</table>
