<div
*ngFor="let alternative of alternatives"
class="grid text-center mb-4"
[style.gridTemplateColumns]="'repeat(' + columns + ', 1fr)'">
    <p>{{ alternative.title }}</p>
    <ng-container *ngFor="let key of getObjectKeys(alternative.values.raw)">
        <p *ngIf="key !== 'id'">
            {{ alternative.values.raw![key] }}
        </p>
    </ng-container>
</div>
<ng-container *ngIf="gridMode === AlternativesGridMode.Calculated">
<p class="border-t mb-2"></p>
<div
    class="grid text-center mb-4 font-bold"
    [style.gridTemplateColumns]="'repeat(' + columns + ', 1fr)'">
    <p>SUM</p>
    <p
    *ngFor="let title of criteriaTitles">
        {{sumsOfValues[title]}}
    </p>
</div>
</ng-container>