<header class="m-10 text-3xl text-center">
    Normalized Table
</header>

<mcea-alternatives-grid
    [gridMode]="AlternativesGridMode.Normalized"
    />

<!--
    @TODO: Reimplement this, ideally inside the alternatives-grid component.
           Currently doesn't work no matter what gridMode is set to.
    <div
        class="grid text-center mb-4 font-bold"
        [style.gridTemplateColumns]="'repeat(' + (criteria.length + 1) + ', 1fr)'">
        <p>SUM</p>
        <p
        *ngFor="let title of criteriaTitles">
            1
        </p>
    </div>
-->

<div class="flex flex-row justify-between m-4">
    <mcea-nav-button route="/alternatives" text="Back"/>
    <mcea-nav-button route="/summary" text="Summary"/>
</div>
