<div class="flex flex-row justify-evenly ms-10">
    <table>
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let criterion of criteria$ | async"
                >{{ criterion.title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let criterion of criteria$ | async">
                <td>{{ criterion.title }}</td>
                <td><input class="bg-mcea-4 text-black" type="text" placeholder="test"/></td>
                <td><input class="bg-mcea-4 text-black" type="text" placeholder="test"/></td>
                <td><input class="bg-mcea-4 text-black" type="text" placeholder="test"/></td>
          </tr>
        </tbody>
    </table>
</div>