<header class="m-10 text-3xl text-center">Estimation of Weights</header>

<div class="flex flex-col justify-evenly items-center mx-8">
    <table class="w-full">
        <thead>
            <!-- ROWS-->
            <tr>
                <!-- Ghost Cell for Spacing -->
                <th></th>
                <th class="w-8" *ngFor="let criterion of criteria"
                >{{ criterion.title}}</th>
                <th class="w-8">GEOMEAN</th>
                <th class="w-12">Weight %</th>
            </tr>
        </thead>
        <tbody
            [formGroup]="formGroup">
            <tr
                id="{{ criterion.id }}"
                *ngFor="let criterion of criteria"
            >
                <td class="font-bold">
                    {{ criterion.title }}
                </td>
                <td *ngFor="let criterionCompared of criteria">
                    <input
                        id="{{ criterion.id }}-{{ criterionCompared.id }}"
                        [formControlName]="getFormControlName(criterion.id, criterionCompared.id)"
                        class="bg-mcea-4 text-black w-20"
                        type="text"
                        min="0.11111111"
                        max="9"
                        placeholder="1-9"
                        (change)="manageWeights($event)"
                        [disabled]="isFieldDisabled(criterion.id, criterionCompared.id)"
                    />
                </td>
                <td><p>{{criterion.weight ? criterion.weight : 1}}</p></td>
                <td><p>{{criterion.weight ? (criterion.weight / sumOfWeights * 100).toFixed(3) : '33.333%'}}</p></td>

          </tr>
          <!-- Row for Sum of Weights -->
          <tr>
            <td><p class="font-bold">SUM</p></td>
            <td *ngFor="let criterion of criteria">
                <td><p>{{sumOfWeights ? sumOfWeights : this.criteria.length}}</p></td>
                <td><p>100%</p></td>
          </tr>
        </tbody>
    </table>
    <div class="flex flex-row justify-between w-full mt-4">
        <mcea-nav-button route="/criteria" text="Back"/>
        <mcea-nav-button route="/alternatives" text="Next"/>
    </div>
</div>