<div class="flex flex-col justify-evenly items-center mx-8">
    <mat-table
        [dataSource]="criteria"
        class="mat-elevation-z8 max-w-full"
        [formGroup]="formGroup"
    >
        <!-- Column for Criteria titles -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef class="w-8"
                >Criteria</mat-header-cell
            >
            <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
        </ng-container>

        <!-- Columns for Input Fields -->
        <ng-container matColumnDef="input">
            <mat-header-cell *matHeaderCellDef class="w-8">
                Value
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-form-field>
                    <input
                        matInput
                        [id]="element.id"
                        [formControlName]="element.id"
                        class="bg-mcea-4 text-black w-20"
                        type="text"
                        placeholder="1-9"
                        (change)="updateWeights($event)"
                    />
                </mat-form-field>
            </mat-cell>
        </ng-container>

        <!-- Column for GEOMEAN -->
        <!-- <ng-container matColumnDef="geomean">
            <mat-header-cell *matHeaderCellDef class="w-8">
                {{ 'estimationOfWeights.geomean' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <p>{{ hasValue(element.weight) ? element.weight : '1' }}</p>
            </mat-cell>
        </ng-container> -->

        <!-- Column for Weight % -->
        <ng-container matColumnDef="weightPercentage">
            <mat-header-cell *matHeaderCellDef class="w-12">
                {{ 'estimationOfWeights.weightPercentage' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <p>
                    {{
                        hasValue(element.weight)
                            ? ((element.weight / sumOfWeights) * 100).toFixed(3)
                            : (100 / criteria.length).toFixed(3) + '%'
                    }}
                </p>
            </mat-cell>
        </ng-container>

        <!-- Add geomean back into the header and row defs in case of uncommenting -->

        <!-- Header Row -->
        <mat-header-row
            *matHeaderRowDef="['title', 'input', 'weightPercentage']"
        ></mat-header-row>

        <!-- Data Rows -->
        <mat-row
            *matRowDef="
                let row;
                columns: ['title', 'input', 'weightPercentage']
            "
        ></mat-row>
    </mat-table>
</div>
