   
<header class="m-10 text-3xl text-center">
    Define Alternatives
</header>

<div *ngIf="!showCalculatedValues">
    <mcea-alternatives-grid
        [gridMode]="AlternativesGridMode.Raw"
    />
    <form
        class="flex flex-col gap-2 mt-4"
        [formGroup]="formGroup"
        (ngSubmit)="addAlternative()">

        <!-- Alternative Title -->
        <mat-form-field color="accent">
            <mat-label>Alternative title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
      
        <!-- Alternative Values -->
        <div class="grid gap-2" [style.gridTemplateColumns]="'repeat(' + criteria.length + ', 1fr)'">
          <mat-form-field color="accent" *ngFor="let criterion of criteria">
            <input matInput formControlName="{{criterion.title}}" placeholder="{{criterion.title}}" type="number">
          </mat-form-field>
        </div>

        <mcea-submit-button [disabled]="!formGroup.valid" class="mb-4" text="Add Alternative"/>
    </form>
</div>

<mcea-alternatives-grid
    *ngIf="showCalculatedValues"
    [gridMode]="AlternativesGridMode.Calculated"
/>

<mcea-submit-button (click)="toggleNormalization()" text="{{ showCalculatedValues ? 'View real values' : 'View calculated values' }}" />

<div class="flex flex-row justify-between mt-4">
    <mcea-nav-button route="/weights-estimation" text="Back" />
    <mcea-nav-button route="/normalization" text="Next" />
</div>