@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #303030;
}

.mdc-notched-outline__notch {
    border-right: none;
}

.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.mat-mdc-snack-bar-container {
    &.primary {
        --mdc-snackbar-container-color: #9c27b0;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
    &.accent {
        --mdc-snackbar-container-color: #ff4081;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #69f0ae;
    }
    &.error {
        --mdc-snackbar-container-color: #f44336;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
    }
    &.warning {
        --mdc-snackbar-container-color: #f44336;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #ffe83b;
    }
}
